@import "tailwindcss";

@theme {
  --color-primary: #2e6eff;
  --color-primary-hover: #1e5fef;
  --color-primary-light: #ebf2ff;
  --color-secondary: #7c3aed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}